@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #E7D6FD, #BDFCCE );
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #68816eaf;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #8DB096;
    text-align: center;
    text-shadow: 1px 1px 2px #6e8a75d8;
}

h2{
    color: #9784B0;
}

p {
    text-align: justify;
}