@charset "UTF-8";

body{
    background-color: rgb(189, 238, 222);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(2, 44, 30);
}

h1#principal {
    text-align: center;
    background-color: rgb(43, 247, 179);
    color: white;
}

h2{
    color: rgb(13, 107, 76);
}

.basico{
    color: rgb(8, 241, 39);
    font-weight: bold;
}

.intermediario{
    color: rgb(236, 255, 127);
}

.avancado{
    color: rgb(255, 127, 127);
}

.destaque{
    background-color: #94944d79;
}